.card {
  display: flex;
  justify-content: center;
  flex: 0.7;
  height: 100%;
  border-radius: 25px;
  position: relative;
  display: flex;
  transition: flex-grow 0.3s ease, box-shadow 0.3s ease;
  margin: 0 8px;
  overflow: hidden;
}

.card:hover {
  flex-grow: 3;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.bg-card {
  background-color: white; 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 25px;
 
}

.bandeira {
  position: absolute;
  bottom: 20px;
  z-index: 1;
}

.info {
  color: white;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .bg-card{
  opacity: 50%
}

.card:hover .info {
  opacity: 1;
}
.card:hover .bandeira {
  opacity: 0; /* Faz a bandeira desaparecer no hover */
}

.info h2 {
  font-weight: 300;
}

.info p {
  font-size: 1rem;
  font-family: "Trispace", sans-serif;
}
