.card {
  flex: 1;
  /* Permite que os cards ocupem todo o espaço disponível */
  height: 100%;
  /* Faz com que o card ocupe a altura total do container */
  border-radius: 25px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: flex-grow 0.3s ease, box-shadow 0.3s ease;
  /* Transição para flex-grow */
  margin: 0 8px;
  /* Define uma margem horizontal para simular o gap */
}

.card:hover {
  flex-grow: 3;
  /* Expande o card em hover para ocupar mais espaço */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  /* Adiciona sombra para destaque */
}

.bg-card {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 25px;
}

.bandeira {
  position: absolute;
  bottom: 20px;
  width: 4rem;
}