@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Exo 2', sans-serif;
}

@layer {
  .custom-item {
    @apply flex items-center justify-between font-medium text-2xl;
  }
}

.linkes::after {
  content: ' ';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(30, 92, 230);
  background: linear-gradient(90deg, #14b7ed 0%, #0554f2 100%);
  border-radius: 10px;
  transition: width 0.2s ease-in;
  margin: auto;
}

.linkes:hover::after {
  width: 100%;
}
.cardisgraca > .ibagem {
  transform: translateY(30px);
  transition: all ease-out 0.8s;
}

.cardisgraca:hover .ibagem {
  transform: translateY(0px);
}

.cardisgraca .textos {
  transition: all ease-out 0.5s;
}

.cardisgraca:hover .textos {
  transform: translateY(-5px);
}

.cardisgraca {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 10.11%,
    #5073f1 30.11%
  );
  background-size: 100% 300%;
  transition: all ease-out 0.5s;
}

.cardisgraca:hover {
  background-size: 100% 200%;
}
